<div class="bigbox">

  {{> header}}

  <!-- MAIN BODY -->
  <div class="body">
    <h1 class="homePageBite">Bite</h1>
    <h1 class="homePageBuzz">Buzz</h1>

    <!-- Establishments Carousel -->
    <div class="restaurant-carousel">
      {{#each restaurants}}
      <div class="carousel-item" style="background-image: url('{{this.logo}}');">
        <div class="carousel-content">
          <h2>{{this.name}}</h2>
          <div class="rating">
            <span>Ratings: </span>
            <span id="stars"></span>
            <span id="rating-value">{{this.rating}}</span>
            <span>/ 5</span>
          </div>
          <p>{{this.description}}</p>
          <a href="/restaurant/{{this.name}}" class="view-more">View More</a>
        </div>
      </div>
      {{/each}}
    </div>


  </div>
</div>
{{> footer}}
</div>